/target/
/addon/target/
/core/target/
/webservice/target/
/addon/.gitignore
/core/.gitignore
/webservice/.gitignore
.project
/addon/.project
/core/.project
/webservice/.project
.classpath
/addon/.classpath
/core/.classpath
/webservice/.classpath
/.settings/
/addon/.settings/
/core/.settings/
/webservice/.settings/
